---
import "./Hero.css";
---
<section class="hero">
    <div class="hero__container">
        <div class="hero__content">

            <span class="hero__badge">
                Desarrollo Web • Automatización • IA
            </span>

            <h1 class="hero__title">
                Sitios web modernos que generan resultados reales
            </h1>

            <p class="hero__description">
                Desarrollo experiencias web rápidas, optimizadas para SEO
                y preparadas para convertir visitantes en clientes.
            </p>

            <div class="hero__actions">
                <a href="#contacto" class="btn btn-primary">
                    Solicitar presupuesto
                </a>

                <a href="#proyectos" class="btn btn-secondary">
                    Ver proyectos
                </a>
            </div>
        </div>
        <div class="hero__visual">
            <div class="glass-card">
                <img
                    src="/public/images/code_1.jpg"
                    alt="tiene que cargar"
                    class="hero-image"
                />
                <span>⚡ Astro</span>
                <span>🤖 Automatización</span>
                <span>🚀 SEO</span>
            </div>
        </div>
    </div>
</section>